@use '../../styles/partials/mixins' as *;

.filter-drawer{
    background-color: #E4EFEC;
    padding-bottom:1rem;
    margin:0;
    width:100%;
    padding-left:1rem;
    padding-right:1rem;
@include tablet{
    padding:0 2.5rem 4.25rem 2.5rem;
}

@include desktop{
    display: flex;
    justify-content: flex-end;
    width:30%;
    height: 100%;
    float: right;
}
    
    h3{
        font-family: "Outfit";
        padding-top:1rem;
        padding-bottom:1rem;
        font-size: 1.5rem;
        line-height: 1.4375rem;
        font-weight: 500;

        @include tablet{
            font-size: 2rem;
            line-height: 1.625rem;
            font-weight: 500;
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
        }
    }

    &__tag{
        font-family:"Outfit";
        border:#1E6655 1.5px solid;
        border-radius: 8px;
        margin-right: 0.6rem;
        margin-bottom:0.6rem;
        color:#1E6655;
        padding:0.5rem;
        font-size:1rem;
        line-height: 0.9375rem;
        font-weight: 500;

        @include tablet{
            font-size:1.15rem;
            line-height: 1.0938rem;
            font-weight: 500;
        }
    }

    &__tag.active{
        color:white;
        background-color:#1E6655 ;
    }
}