//Breakpoints
$tablet-breakpointmin:768px;
$desktop-breakpointmin:1280px;

//Colors
$primary-black: #0C1E1A;
$primary-forestGreen: #1E6655;
$primary-pistachio:#EFFAF7;

$secondary-seaGreen:  #B7CEC9;
$secondary-sage:  #E4EFEC;
$secondary-white: #FFFFFF;

//Mobile Text Styles
$font-size-WordmarkM:2rem;
$line-height-WordmarkM:2rem;
$font-weight-WordmarkM:400;


$font-size-TitleM:1.625rem;
$line-height-TitleM:2.375rem;
$font-weight-TitleM:300;

$font-size-HeadingM:1.125rem;
$line-height-HeadingM:1.4375rem;
$font-weight-HeadingM:500;

$font-size-BodyCopyM:.75rem;
$line-height-BodyCopyM:.9375rem;
$font-weight-BodyCopy-mediumM:500;
$font-weight-BodyCopy-lightM:300;

$font-size-smallBodyCopyM:.625rem;
$line-height-smallBodyCopyM:.75rem;
$font-weight-smallBodyCopyM:500;

$font-size-labelM:.75rem;
$line-height-labelM:.9375rem;
$font-weight-labelM:500;

// Desktop and Tablet Text Styles
$font-size-WordmarkDT:2.5rem;
$line-height-WordmarkDT:2.5rem;
$font-weight-WordmarkDT:400;


$font-size-TitleDT:3.25rem;
$line-height-TitleDT:4.125rem;
$font-weight-TitleDT: 300;

$font-size-HeadingDT:1.5rem;
$line-height-HeadingDT:1.875rem;
$font-weight-HeadingDT:500;

$font-size-BodyCopyDT:1.25rem;
$line-height-BodyCopyDT:1.625rem;
$font-weight-BodyCopy-mediumDT:500;
$font-weight-BodyCopy-lightDT:300;

$font-size-smallBodyCopyDT:.75rem;
$line-height-smallBodyCopyDT:.9375rem;
$font-weight-smallBodyCopyDT:500;

$font-size-labelDT:.875rem;
$line-height-labelDT:1.0938rem;
$font-weight-labelDT:500;


