@use '../../styles/partials/variables'  as *;
@use '../../styles/partials/mixins'  as *;
@use '../../styles/partials/typography' as *;


.hero{
    padding:0 1rem 3rem 1rem;
@include tablet{
    padding:0 2.5rem 4.5rem 2.5rem;
}
@include desktop{
    width:60%;
    padding-top:66px;
}

    &__text{
        &--normal{
            font-family: "Newsreader";
            font-size:1.625rem;
            line-height:2.375rem;
            font-weight:300;

            @include tablet{
                font-size: 3.25rem;
                line-height: 4.125rem;
                font-weight: 300;
            }
                 }
        &--small{
            font-family: "Outfit";
            font-size: .625rem;
            line-height: 0.75rem;
            font-weight: 500;

            @include tablet{
                font-size: 1.5rem;
                line-height: .9375rem;
                font-weight: 300;
            }
                 }
        &--italic{
            font-family: "Newsreader";
            font-size:1.625rem;
            line-height:2.375rem;
            font-weight:300;
            font-style: italic;

            @include tablet{
                font-size: 3.25rem;
                line-height: 4.125rem;
                font-weight: 300;
            }
                 }
    }
}
 

