@use '../../styles/partials/mixins' as *;

.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:2rem 1rem 2rem 1rem;

    @include tablet{
        padding:2rem 2.5rem 2rem 2.5rem;
    }

    &__title{
        font-size:2.5rem;
        line-height: 2rem;
        font-weight:400;
        color: #0C1E1A;
        @include tablet{
            font-size:3rem;
            line-height: 2.5rem;
            font-weight: 400;
            color:#0C1E1A;
        }
    }

    &__filter-button{
        display:flex;
        align-items:center;
        text-align:center;
        gap:0.5rem;
        background: transparent;
        border: 2px solid #1E6655;
        color: #1E6655;
        padding: 0.5rem 1rem;
        border-radius: 1.5rem;
        font-size:1rem;
        font-weight:bold;
        cursor:pointer;
        transition: all 0.3s ease-in-out;

        @include tablet{
            font-size: 1.2rem;
        }
    }

    &__filter-button.active{
        background:#1E6655;
        color:white;
    }

    &__filter-icon{
        transition:stroke 0.3s ease-in-out;
    }

    &__filter-button.active path{
        stroke:white;
    }

    &__filter-icon path{
        stroke:#1E6655;
    }

}