@use '../src/styles/partials/typography' as *;
@use '../src/styles/partials/variables' as *;

*,
*::before,
*::after{
    box-sizing:border-box;
    background-color: $primary-pistachio;
}

h1{
    font-size: $font-size-WordmarkM;
    font-family: "Newsreader";
    font-weight: $font-weight-WordmarkM;
    line-height: $line-height-WordmarkM;
}

body{
    background-color: $primary-pistachio;
}